  header {
    background-color: #f00;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    xmax-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logo {
    color: #000;
    font-size: 22px;
    font-weight: bold;
  }

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    /**text-align: center;**/
    font-style: italic;
    font-weight: bold;
    padding: .10cm 15px;
    border-radius: .55cm;
    box-shadow: 10px 10px 15px #a3b1c6, -10px -10px 15px #fff;
    transition: color 0.3s;
}

.nav-linksx a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1abc9c;
}
.neumorphic-card {
    background: #e0e5ec;
    border-radius: .50cm;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
    /** paddingx: .80cm; **/
}

  @media (max-width: 480px) {
    nav {
      flex-direction: column; /* নাম উপরে আর মেনু নিচে চলে আসবে ফোনের স্ক্রিনে */
      padding: 20px;
    }
    .neumorphic-card {
      border-radius: .40cm;
    }
    header nav {
      padding-top: 10px;
    }
    .nav-links {
      flex-wrap: wrap;
      justify-content: start;
    }
    .nav-links li {
      margin-left: .35cm;
    }  
    .nav-links a {
      color: #535;
      font-size: 8px;
      line-height: 10px;
      /**text-align: center;**/
      font-weight: normal;
      padding: .08cm 10px;
      transition: color 0.3s;
    }
  }